

#homelink {
  color: whitesmoke;
  text-decoration: none;
}

#hainesma {
  vertical-align: bottom;
}

#icon {
  height: 4rem;
  margin: 0 1rem .2rem 0;
  vertical-align:middle;
}

#main a:link, a:visited {
  color: black;
  text-decoration: underline;
}



body {
  color: rgb(77, 72, 72);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

h2,
h3 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.2;
}

svg {
  stroke: #bec2cb;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}



#header {
  background-color: #333;
  color: whitesmoke;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 2rem;
}

#header p, h2 {
  margin: 0;
}

#main {
  padding: 7%;
}

.emoji {
  height: 50px;
  width: 50px;
}

.intro {
  background-color: thistle;
}


.abstract {
  margin: 2rem auto;
  max-width: 70%;
}

.chimney {
  fill: #bec2cb;
  stroke-width: 0;
}

.door {
  fill: #b61f24;
  stroke: #cccccc;
}

.house {
  fill: #223d88;
  stroke: #cccccc;
}

.roof {
stroke-width: 4;
}

.smoke {
  fill: #444;
  stroke-width: 0;
}

.window {
  fill: #9cdfff;
  stroke: #cccccc;;
}

.yard {
  fill: green;
  stroke-width: 0;
}



/* @media (max-width: 600px) {
  body {
    max-width: 500px;
    margin: 20px auto;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
    color: #444;
  }
} */