
body {
  max-width: 700px;
  margin: 40px auto;
  padding: 0 10px;
  font-family: 'Open Sans', sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

svg {
  stroke: #bec2cb;
  stroke-width: 2;
  stroke-linecap: miter;
  stroke-linejoin: miter;
  fill: none;
}

.chimney {
  fill: #bec2cb;
  stroke-width: 0;
}

.door {
  fill: #b61f24;
  stroke: #cccccc;
}

.house {
  fill: #223d88;
  stroke: #cccccc;
}

.roof {
stroke-width: 4;
}

.smoke {
  fill: #444;
  stroke-width: 0;
}

.window {
  fill: #9cdfff;
  stroke: #cccccc;;
}

.yard {
  fill: lightgreen;
  stroke-width: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: #444;
  }

  a:link {
    color: #5bf;
  }

  a:visited {
    color: #ccf;
  }
}