
a:link, a:visited {
  color: #444;
}

body {
  color: #444;
  font-family: Georgia, 'Times New Roman', Times, serif;
  max-width: 700px;
  margin: 2px auto;
  padding: 0 10px;
}

h1 {
  line-height: 1.2;
  padding-top: 2rem;
  text-align: center;
}


h2,
h3 {
  line-height: 1.2;
}

svg {
  stroke: #bec2cb;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}



#header {
  border-bottom: 1px solid #444;
  margin: 3px 0 6px 0;
  text-align: center;
}

#header a:link, a:visited {
  text-decoration: none;
}

#header p, h2 {
  margin: 0;
}

.abstract {
  margin: 2rem auto;
  max-width: 70%;
}

.chimney {
  fill: #bec2cb;
  stroke-width: 0;
}

.door {
  fill: #b61f24;
  stroke: #cccccc;
}

.house {
  fill: #223d88;
  stroke: #cccccc;
}

.roof {
stroke-width: 4;
}

.smoke {
  fill: #444;
  stroke-width: 0;
}

.window {
  fill: #9cdfff;
  stroke: #cccccc;;
}

.yard {
  fill: green;
  stroke-width: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: #444;
  }

  a:link {
    color: #5bf;
  }

  a:visited {
    color: #ccf;
  }
}

@media (max-width: 600px) {
  body {
    max-width: 500px;
    margin: 20px auto;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
    color: #444;
  }
}